/**
 * Red Hat theme for reveal.js.
 * Author: Juergen Hoffmann
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
  font-family: 'overpassregular';
  src: url('../../lib/font/Overpass_Regular-webfont.eot');
  src: url('../../lib/font/Overpass_Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../lib/font/Overpass_Regular-webfont.woff') format('woff'),
  url('../../lib/font/Overpass_Regular-webfont.ttf') format('truetype'),
  url('../../lib/font/Overpass_Regular-webfont.svg#overpassregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'overpassbold';
  src: url('../../lib/font/Overpass_Bold-webfont.eot');
  src: url('../../lib/font/Overpass_Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../lib/font/Overpass_Bold-webfont.woff') format('woff'),
  url('../../lib/font/Overpass_Bold-webfont.ttf') format('truetype'),
  url('../../lib/font/Overpass_Bold-webfont.svg#overpassbold') format('svg');
  font-weight: normal;
  font-style: normal;
}


$web-fonts-protocol: "https"; // fonts will be loaded over HTTPS from here on.

html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

//Red Hat Colors
$redhat-red1:  #CC0000;
$redhat-red2:  #821F1C;
$redhat-red3:  #9E292B;

$redhat1:      #000000;
$redhat2:      #4E376B;
$redhat3:      #003D6E;
$redhat4:      #0093D9;
$redhat5:      #BFDCE8;
$redhat6:      #2C8596;
$redhat7:      #ABB400;
$redhat8:      #E3E936;
$redhat9:      #DC9F2E;
$redhat10:     #C8C5AC;
$redhat11:     #60605B;
$redhat12:     #FFFFFF;


// Override theme settings (see ../template/settings.scss)
$mainColor: $redhat11;
$headingColor: $redhat-red3;
$headingTextShadow: $redhat10;
$backgroundColor: $redhat5;
$linkColor: $redhat4;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $redhat-red1;
$mainFont: 'overpassregular', sans-serif;
$headingFont: 'overpassbold';
$mainFontSize: 36px;
$headingTextTransform: none;

// Background generator
@mixin bodyBackground() {
 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal h1 {
  text-shadow: $heading1TextShadow;
  font-size: 2em;
}

.reveal h2 {
  text-shadow: $heading1TextShadow;
  font-size: 1.5em;
  font-family: "overpassregular";
}

.reveal h3 {
  text-shadow: $heading1TextShadow;
  font-size: 1.3em;
  font-family: "overpassregular";
}